<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>2岁前</string>
		<key>content</key>
		<string>小孩子睡觉时，嘴巴和鼻子都要在被子外面，天冷的时候也这样</string>
		<key>state</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>2岁前</string>
		<key>content</key>
		<string>花生米、瓜子、豌豆等坚果类食物捣碎后才能喂给小孩子</string>
		<key>state</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>2岁前</string>
		<key>content</key>
		<string>窗台边没有可攀爬的凳子或桌子，并且孩子很难打开窗户</string>
		<key>state</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>2岁前</string>
		<key>content</key>
		<string>热水瓶、装有热水或热汤的锅和火炉都要放在孩子不容易拿到的地方</string>
		<key>state</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>2岁前</string>
		<key>content</key>
		<string>电源插座要放在孩子不容易接触到的地方</string>
		<key>state</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>2岁前</string>
		<key>content</key>
		<string>酒精、汽油、清洁剂、农药、灭鼠药等有毒物品不能装在饮料瓶或者食品袋里，并且要放到孩子拿不到的地方</string>
		<key>state</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>2岁前</string>
		<key>content</key>
		<string>不把孩子一个人留在家里</string>
		<key>state</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>2-5岁</string>
		<key>content</key>
		<string>没有大人陪同，孩子不在马路上行走或玩耍</string>
		<key>state</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>2-5岁</string>
		<key>content</key>
		<string>没有大人陪同，孩子不在池塘、江河里或井边、大水缸边玩耍</string>
		<key>state</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>2-5岁</string>
		<key>content</key>
		<string>不给孩子玩剪刀、小刀等锐利的物以及小玻璃球等玩具</string>
		<key>state</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>2-5岁</string>
		<key>content</key>
		<string>经常给孩子讲交通安全、火灾预防等知识</string>
		<key>state</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
